
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

:root{
    --heading:'Montserrat', sans-serif;
}

body{
    font-family:'Raleway', sans-serif;
    background: #ffffff;
    position: absolute;
}

/***************** global styling ****************/

img{
    width: 100%;
    max-height: 100%;
    height: auto;
    position: relative;
    filter: grayscale(100%);
}

h1, h2{
    position: relative;
    margin: 0 0 auto;
}

img:hover{
    border-radius: 8px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #1b1a1a;
    position: relative;
}

hr{
    width: 95vw;
    margin: 0 auto;
}

.content-wrapper{
    margin: 0 0 auto;
    max-width: 960px;
    aspect-ratio: 0.5;
}

/********************* header ************************/

.top-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: linear-gradient(to right, red, blue);
    color:#ffffff;
    padding: 20px 30px;
}

.web-name h1 a{
    color:#ffffff;
}

.top-head .fas{
    font-size: 2rem;
    cursor: pointer;
}

/******* js related styling starts *******/

.times-btn{
    display:none;
}

.nav-bar{
    background:#413a3a;
    height: min-content;
    overflow: visible;
    position: static;
}

.show-nav{
    height:auto;
}

/***************** ends *****************/

.nav-bar ul li{
    text-align: center;
    display: block;
    padding: 15px 0;
    transition: all 1s ease-in-out;
}

.nav-bar ul li a:hover{
    background: #000;
}

.nav-bar ul li a{
    font-size: 16px;
    padding: 16px;
    color: #fff;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

#dropdown-id{
    text-transform: uppercase;
    color: white;
    padding: 0px;
    transition: all 1s ease-in-out;
}

#dropdown-content-id{
    color: black !important;
}

.nav-bar ul li a:hover{
    background:#000;
    background-color: #0e3191;
    border-radius: 8px;
}

/* positions the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    opacity: unset;
}

/* dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #413a3a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/************ social-icons ************/
.social-icons{
    display: none;
}

/**************** banner **************/

.banner{
    background-color: #ffffff;
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 30px 0;
    margin-top: 8px;
}

.banner-sub-content{
    margin: 25px 0px;
    padding: auto auto;
}

.banner-sub-content img{
    width:  400px;
    height: 400px;
    margin: 25px auto; 
    padding: 0px auto;
}

.banner-sub-content h2:hover{
    color: blue;
}

.banner-main-content{
    padding: 0 2rem;
    line-height: 1.7;
}

.banner-main-content h2{
    font-size: 2rem;
    font-family: var(--heading);
    align-self: center;
}

.banner-main-content h3{
    padding: 1rem 0;
    align-self: center;
}

.banner-main-content h2:hover{
    color: #1a18a5;
}

.banner-main-content h3:hover{
    color:#1a18a5;
}

.banner-main-content button{
    border:none;
    background:#252525;
    padding:14px 18px;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    transition: background 1s ease;
}

.banner-main-content button a{
    color:#f3f3f3f3;
    /* transition:color 1s ease; */
}

.banner-main-content button:hover{
    background:#fff;
}

.banner-main-content button:hover a{
    color:#1d191a;
}

.current-news-head{
    background:#fff;
    padding:20px;
    font-size:12px;
    margin:20px 0;
}

.current-news-head h3{
    padding:6px;
    cursor:pointer;
    position: relative;
}

.current-news-head h3:hover::before{
    content:">> ";
    position:absolute;
    left: -12px;
}

.current-news-head span{
    display:block;
    font-family:var(--heading);
    font-weight:300;
    text-transform:uppercase;
}

.hot-topic{
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 12px;
    height: 300px;
}

.hot-topic img{
    display: block;
}

.hot-topic-content{
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    padding: 10px 20px;
    line-height: 1.3;
    color:#f3f3f3;
}

.hot-topic h2{
    padding:10px 0;
    font-size:18px;
    text-shadow: 0 0 2px #000;
}

.hot-topic h3{
    padding:10px 0;
    font-size: 15px;
    text-shadow: 0 0 2px #000;
    padding: 12px 10px;
}

.hot-topic p{
    padding:10px 0;
    font-size: 15px;
    text-shadow: 0 0 2px #000;
    padding:12px 10px;
}

.hot-topic-content a{
    display:block;
    background:#9e9a9a;
    border:none;
    width:95px;
    border-radius:2px;
    text-align: center;
    padding: 7px 10px;
    font-size:10px 0 10px 10px;
    font-size:#f3f3f3f3;
    transition: background 1s ease;
    /* font-family: 'Montserrat', sans-serif;
    font-size:1.2rem; */
    opacity:0.5;
}

.hot-topic-content a:hover{
    /* text-decoration:underline; */
    color: #1d191a;
    background: #fff;
    transition:background 1s ease;
    opacity:1;
}

/******************* MAIN ******************/
/* includes top stories and latest stories */

main a{
    padding:15px 0;
    display: block;
    transition: all 0.5s;
}

main span{
    transition: padding-left 0.1s;
}

main a:hover{
    color:#1a18a5;
}

/************** LEFT SIDE MAIN ***************/

.main-container-left{
    padding:30px 10px;
}

.container-bottom-left img{
    width: 300px;
    height: 250px;
}

.main-container-left > h2{
    padding:15px 0 15px 30px;
}

.main-container-left h3{
    padding:10px 0;
    font-size:18px;
    font-family:var(--heading); 
}

.main-container-left p{
    font-size:15px;
    font-weight:300;
}

.main-container-left article{
    padding:10px;
}

.container-top-left{
    padding:15px 30px;
}
 
.container-bottom-left{
    background:#ddd;
    margin:15px 30px;
}

/************ RIGHT SIDE MAIN ************/

.main-container-right{
    padding:10px 30px;
}

.main-container-right > h2{
    padding:15px 0 15px 30px;
}

.main-container-right article{
    display:grid;
    grid-template-columns:1fr 3fr 1fr;
    padding:15px 0;
    border-bottom:1px solid #2d7702;
}

.main-container-right article:last-child{
    border-bottom:none;
}

.main-container-right img{
    width: 200px;
    height: 200px;
}

.main-container-right h4{
    text-align:center;
    text-transform:uppercase;
    font-weight: 300; 
    font-size:12px;
}

.main-container-right article h2{
    font-size: 18px;
    padding: 10px 0;
    font-family: var(--heading);
}

.main-container-right article p{
    font-size: 15px;
    font-weight: 300;
}

.main-container-right article div{
    margin-right: 10px;
}

/*********** FOOTER SECTION STARTS ***********/

footer{
    background: linear-gradient(to right, red, blue);
    color: #f3f3f3;
    padding: 30px;
}

   /******** SOCIAL ICONS ********/
.social-icons{
    margin-left: auto;
    margin-right: auto;
}
   .social-icons{
    flex:0 1 30%;
    display:contents;
    margin: 0 auto;
}

.social-icons .fab{
    color:#fff;
    font-size: 1rem;
}

.social-icons ul{
    text-align: center;
    display:flex;
    justify-content:safe;
    padding: 0;
}

.social-icons ul li{
    padding:20px;
}

footer h2{
    color: white;
    padding:10px 0;
}

footer p{
    color:white;
    padding: 10px 0;
    line-height: 1.3;
}

.footer-left, .footer-middle, 
.footer-second-middle, .footer-right{
    margin: 0 80px;
}

footer > p{
    text-align: center;
    opacity: 0.8;
    margin-top: 20px;
}

.footer-right i{
    font-size: 1.8rem;
    color: #808080;
}

.footer-right input{
    font-size: 18px;
    border: none;
    background: transparent;
    outline: none;
    color:#808080;
    padding-right: 10px;
    width: 100%;
}

.footer-right div{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 200px;
    padding: 10px 0;
    border-bottom: 1.6px solid #808080; 
}

/********** my modifications **********/

    .hot-topic-content1 h2{
    color:#000;
    }

    /*** search ***/
    .d-flex{
        padding: 50px;
    }

/**************************************/

@media(max-width:50%){
    .content-wrapper{
        aspect-ratio: 1/auto;
    }
}

@media(max-width:460px){
    .hot-topic-content h2{
        font-size:16px;
    }

    .main-container-right article{
        display: block;
    }

    .main-container-right article img{
        display: none;
    }
}

@media(max-width: 500px){
    .main-container-right article{
        grid-template-columns:1fr 3fr;
        grid-template-rows:1fr 1fr;
    }

    .main-container-right article h4{
        grid-row: 1/2;
        grid-column: 1/2;
        align-self: flex-start;
    }

    .main-container-right article img{
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .main-container-right article div{
        grid-row: 1/3;
        grid-column: 2/3;
    }
}

@media(min-width:768px){
    .banner-sub-content{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
    }

    .container-bottom-left{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width:800px){

    /* nav */
    
    .ham-btn, .times-btn{
        display: none!important;
    }

    .navigation-container{
        display:flex;
        background:#252525;
        align-items: center;
        flex-wrap: wrap;
    }

    .top-head{
        flex: 0 0 15%;
    }

    .nav-bar{
        flex: 1 0 auto;
        height: 100%;
        background:none;
    }

    .nav-bar nav ul{
        display:flex;
        justify-content:center;
    }

    .nav-bar nav ul li{
        padding-right:30px;
    }

    .nav-bar nav ul li:hover{
        background:none;
    }

    .footer-container{
        display: flex;
    }
}

@media(min-width: 992px){
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1080px){
    .banner{
        grid-template-columns: 1fr 2fr;
    }
}